.tag {
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 0.3rem 0.8rem;
  display: inline-block;
  transition: transform 0.2s;
}

.tag:hover {
  transform: translateY(-4px);
}

#personagem{
  position:absolute;
  bottom: 40px;
  height: 120px;
  animation: caminhar 8s linear infinite;
  z-index: 2;
  mix-blend-mode: multiply;
}

@keyframes caminhar {
  from {left: -200px;}
  to {left: 100%;}
}